<div id="login" v-cloak>
  <div class="container">
    <h1 class="text-center">Your team!</h1>
    <div class="login-form-container">
      <hr/>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
